
@{
    ViewData["Title"] = "Index";
}

<table id="GaleriListesi" class="table">
    <thead>
        <tr>
            <th scope="col">Galeri Adı</th>
            <th scope="col">Adres</th>
        </tr>
    </thead>
    <tbody id="Galeri_Listesi">
    </tbody>
</table>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Kayıt
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kayıt İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm">
                    <div class="form-group">
                        <label>Galeri Adı</label>
                        <input type="text" class="form-control" id="GaleriAd" name="ad">
                        
                    </div>
                    <div class="form-group">
                        <label>Adres</label>
                        <input type="text" class="form-control" id="GaleriAdres" name="adres">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="btnEkle" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        Tablo_Olustur('GaleriListesi');
        Veri_Listele('https://localhost:44303/api/Galeri/Listele', 'Galeri_Listesi');
        $('#btnEkle').click(function () {
            Veri_Ekle('https://localhost:44303/api/Galeri/Ekle', 'frm');
        })
    });
</script>

