
@{
    ViewData["Title"] = "Arabalar";
}

<h1>Araba Listesi</h1>
<table id="ArabaListesi"
       data-toggle="ArabaListesi"
       data-click-to-select="true"
       data-show-colums="true"
       data-checkbox-header="false"
       data-multiple-select-row="true"
       data-toolbar="#toolbar"
       data-pagination="true"
       data-search="true">
    <thead>
        <tr>
            <th id="chk" data-field="state" data-checkbox="true"></th>
            <th data-field="ad">Araba</th>
            <th data-field="ucret">Fiyat</th>
            <th data-field="stok">Miktar</th>
            <th data-field="birim">Birim</th>
            <th data-field="DosyaYolu" data-formatter="dosyaFormatter">Resim</th>
            <th data-field="galeriAd">Galeri Adı</th>
            <th data-field="galeriAdres">Galeri Adres</th>
        </tr>
    </thead>
    <tbody><tr></tr></tbody>
</table>
<!-- Button modal -->
<button id="btnEkleModal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ekleModal">
    Kayıt
</button>
<button id="btnGuncelleModal" type="button" class="btn btn-info" data-toggle="modal" data-target="#guncelleModal">
    Guncelle
</button>
<button id="btnSil" class="btn btn-danger">Sil</button>
<!-- Modal Ekleme İçin-->
<div class="modal fade" id="ekleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kayıt İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmEkle">
                    <div class="form-group">
                        <label>Araba</label>
                        <input type="text" class="form-control" id="ArabaAdEkle" name="ad" />
                    </div>
                    <div class="form-group">
                        <label>Ücret</label>
                        <input type="number" class="form-control" id="ArabaUcretEkle" name="ucret" />
                    </div>
                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" class="form-control" id="ArabaStokEkle" name="stok" />
                    </div>
                    <div class="form-group">
                        <label>Birim</label>
                        <input type="text" class="form-control" id="ArabaBirimEkle" name="birim" />
                    </div>
                    <div class="form-group">
                        <label>Resim</label>
                        <input type="file" class="form-control-file" id="ArabaResimEkle" name="resim" />
                        <input type="hidden" name="dosyaYolu" id="dosyaYolu" />
                    </div>
                    <div class="form-group">
                        <label>Galeri</label>
                        <select type="text" class="form-control" id="ArabaGaleriEkle" name="galeriId">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Galeri Adresi</label>
                        <select type="text" class="form-control" id="ArabaGaleriAdresEkle" name="galeriId">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="btnEkle" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Güncelleme İçin -->
<div class="modal fade" id="guncelleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Güncelleme İşlemi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmGuncelle" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Araba</label>
                        <input type="text" class="form-control" id="ArabaAdGuncelle" name="ad" />
                    </div>
                    <div class="form-group">
                        <label>Ücret</label>
                        <input type="number" class="form-control" id="ArabaUcretGuncelle" name="ucret" />
                    </div>
                    <div class="form-group">
                        <label>Stok</label>
                        <input type="number" class="form-control" id="ArabaStokGuncelle" name="stok" />
                    </div>
                    <div class="form-group">
                        <label>Birim</label>
                        <input type="text" class="form-control" id="ArabaBirimGuncelle" name="birim" />
                    </div>
                    <div class="form-group">
                        <label>Resim</label>
                        <input type="file" class="form-control-file" id="ArabaResimGuncelle" name="resim" accept=".jpg,.png,.gif,.jpeg" />
                    </div>
                    <div class="form-group">
                        <label>Galeri</label>
                        <select type="text" class="form-control" id="ArabaGaleriGuncelle" name="galeriAd">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Galeri Adresi</label>
                        <select type="text" class="form-control" id="ArabaGaleriAdresEkle" name="galeriAdres">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button id="btnGuncelle" type="button" class="btn btn-primary">Guncelle</button>
            </div>
        </div>
    </div>
</div>
<script>
    var url = '@ViewBag.ArabaUrl';
    var galeriUrl = '@ViewBag.GaleriUrl';
    var dosyaUrl = '@ViewBag.DosyaUrl';
    var webUIUrl = '@ViewBag.WebUIUrl';
    function dosyaFormatter(value, row, index, field) {
        console.log(row);
        return '<img src="' + webUIUrl + '~/files/' + row.dosyaYolu + '" class="rounded-circle" width="150" />';
    }

    $(document).ready(function () {
        Veri_Listele(url + '/api/Araba/ArabaVeGaleriTablosuListele', 'ArabaListesi');
        $('#btnEkleModal').click(function () {
            GaleriListesi_Listele(galeriUrl + '/api/Galeri/Listele', 'ArabaGaleriEkle', 'ArabaGaleriAdresEkle');
        });
        $('#btnEkle').click(function () {
            //uploadFileForAraba(dosyaUrl + '/api/Dosya/UploadFile', 'ArabaResimEkle', 'resim');
            uploadFileForAraba(webUIUrl + '/Resim/AddImageFile', 'ArabaResimEkle', 'resim');
        });
        $('#btnSil').click(function () {
            var data = $('#ArabaListesi').bootstrapTable('getSelections')[0];
            Veri_Sil(url + '/api/Araba/Sil', data);
        });
        $('#btnGuncelleModal').click(function () {
            var data = $('#GaleriListesi').bootstrapTable('getSelections')[0].id;
            Veri_Getir_ArabaIcin(url + '/api/Araba/Getir', data);
            $('#btnGuncelle').click(function () {
                var ad = $('#ArabaAdGuncelle').val();
                var ucret = $('#ArabaUcretGuncelle').val();
                var stok = $('#ArabaStokGuncelle').val();
                var birim = $('#ArabaBirimGuncelle').val();
                var galeriId = $('#ArabaGaleriGuncelle').val();
                var adGaleri = $('#ArabaGaleriGuncelle option').val();
                const araba = new ArabaTextBoxDoldur(data, ad, ucret, stok, birim, resimYolu, galeriId, adGaleri);
                Veri_Guncelle(url + '/api/Araba/Guncelle', araba);
            });
        });
    });
    function uploadFileForAraba(_url, id, name) {
        var files = document.getElementById(id).files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(name + i, files[i]);
                }
                $.ajax({
                    method: 'POST',
                    url: _url,
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        $('#dosyaYolu').val(result);
                        Veri_Ekle(url + '/api/Araba/Ekle', 'frmEkle');
                        alert('Dosya Yüklendi');
                    },
                    error: function (err) {
                        console.log(err);
                        alert('HATA');
                    }
                });
            }
        }
    };
</script>
